/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body{
    background-color: rgb(19, 19, 19); /*DA RIMUOVERE*/
}

section{
    margin-bottom: 2rem;
}

.nasted-green{
    background-color: lime;
    height: 80%;
}

.center{
   display: flex;
   justify-content: center;
   align-items: center;
}

.col-height{
    height: 50px;
}